<h2>Démarrer un audit</h2>

<%= form_for @audit, url: {action: "create", :project_id => @project.id}, html: {class: "nifty_form"} do |f| %>
<div class="box">
	<p>
		<label><%= l(:label_attachment_plural) %></label>
		<%= render :partial => 'attachments/form' %>
	</p>
</div>
<%= submit_tag l(:button_save) %>
<% end %>
