
<div id="tocea-custom-buttons">
	<%= link_to l(:button_start_issue), '/start-issue?issue_id='+@issue.id.to_s, :class => 'icon icon-time-add' if User.current.allowed_to?(:log_time, @project) %>
</div>

<script type="text/javascript">
	
	var elt_selector = '#tocea-custom-buttons';
	var menu_selector = '#content .contextual';
	
	$(menu_selector).first().prepend($(elt_selector).html());
	
	$(elt_selector).remove();
	
</script>
