
/* -----------------------------------------
 *  ADMIN MENU
 * -----------------------------------------
 */
#admin-menu .issues-custom-actions {
	background-image: url('../images/ticket_edit.png');
}

.icon-take-task {
	background-image: url('../images/icon_take_task.png');
}

.icon-status-button {
	background-image: url('../images/icon-status-button.png');
}

/* -----------------------------------------
 *  PROGRESS REPORT
 * -----------------------------------------
 */
.progress-report-block {
	margin-top: 20px;
}
.progress-report-block .charge-table, .progress-report-block .issues {
	margin-top: 20px;
}
.progress-report-block h4 {
	margin-top: 20px;
	border-bottom: none;
}	
.progress-report-block table th {
	-webkit-print-color-adjust: exact; 
}

.progress-report-block .warning {
	font-weight: bold;
	color: #F93E3E;
}

.progress-report-block .progress-bar {
	float: left; 
	width: 50%;
}

#progress_report_form .input_days_off {
	margin-left: 40px;
}

.progress-report-block .progress-bar table.progress { 
        width: 75%;
}
